EXPO_PUBLIC_API_URL=http://YOUR_LAN_IP:5000/api
EXPO_PUBLIC_SOCKET_URL=http://YOUR_LAN_IP:5000
EXPO_PUBLIC_DEMO_BUS_ID=AP30Z1234
EXPO_PUBLIC_DEMO_ROUTE_ID=R-SKLM-SMP-01
EXPO_PUBLIC_CONDUCTOR_ID=EMP-1089
EXPO_PUBLIC_CONDUCTOR_PIN=4289
EXPO_PUBLIC_SERVICE_NUMBER=4289
EXPO_PUBLIC_DEPOT_CODE=SKLM-1
